__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/
.env
venv/
.venv/
data/Train.csv
data/Test.csv
data/SampleSubmission.csv
*.pth
*.pt
checkpoints/
processed_dataset_cache/
whisper-waxal-results/
whisper-waxal-full/
whisper-waxal-best/
whisper-waxal-best-full/
.DS_Store
